
.content{
	background-image: url('https://res.cloudinary.com/marykaystuff/image/upload/v1576178479/images/sm88aondewhnfxmumojm.jpg');
	display: block;
	background-repeat: no-repeat;
	border: 0.5rem solid silver;

	

}
/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
	.content{
		border-radius: 1rem;
		width: 15rem;
		margin-left: 2.0rem;
		margin-top: 2.5rem;
		margin-top: 2.5rem;
		margin-right: 2.0rem;
		padding: 1.3rem;
	}
	
	.content input{
		size:5rem;
		font-family: 'Times New Roman', Times, serif;
		font-size: 0.8rem;
		padding: 0.5rem;
		box-sizing: border-box;
		opacity: 0.7;
	}
	.btn{
		background-color: rgb(44, 219, 219);
		margin: 3.5rem;
		color: white;
		}
}


/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
	.content{
		border-radius: 1rem;
		width: 25rem;
		margin: 2.5rem;
		padding: 2rem;
	}
	.content input{
		size:5rem;
		font-family: 'Times New Roman', Times, serif;
		font-size: 1rem;
		padding: 0.5rem;
		box-sizing: border-box;
		opacity: 0.7;

	}
}


/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
	.content{
		border-radius: 1rem;
		width: 30rem;
		margin: 5.5rem;
		padding: 2rem;
	}
	.content input{
		size:5rem;
		font-family: 'Times New Roman', Times, serif;
		font-size: 1.2rem;
		padding: 0.5rem;
		box-sizing: border-box;
		opacity: 0.7;

	}
	.btn{
		background-color: rgb(44, 219, 219);
		margin: 4rem;
		color: white;
		}
}


/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
	.content{
	border-radius: 1rem;
	width: 35rem;
	margin-left: 12.5rem;
	margin-right: 12.5rem;
	margin-top: 5rem;
	margin-bottom: 5rem;
	padding: 2rem;
	opacity: 0.7;
}
.content input{
	size:5rem;
	font-family: 'Times New Roman', Times, serif;
	font-size: 1.2rem;
	margin-bottom: 1.5;
	padding: 0.5rem;
	box-sizing: border-box;
	opacity: 0.7;
}
.btn{
background-color: rgb(44, 219, 219);
margin: 4rem;
color: white;
}
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
	.content{
	border-radius: 1rem;
	width: 35rem;
	margin: 20rem;
	padding: 2rem;
	opacity: 0.7;

}
}
